html{
	height: 100%;
}

body{
	background: #3498db;	
	height: 100%;
}

img{
	max-width: 100%;
}

#beard{
	max-width: 25%;
}

.galleria{ 
	width: 100%; 
	height: 500px;
	background: #ecf0f1;
}

.galleria-container{
	background: #ecf0f1;
}

.lobster{
	font-family: "Lobster",cursive;
}

#home{
	padding-top: 100px;
}

.scroll-panel{
	padding-top: 50px;
}

.jumbotron{
	border-radius: 0 !important; padding: 0 !important;
}

.jumbotron-midnight{
	color: #ecf0f1;
	background: #3498db;
	margin: 0;
}

.jumbotron-silver{
	color: #3498db;
	background: #ecf0f1;
	margin: 0;
	width: 100%;
}

.showcase-item{
	height: 100px;
	padding: 2px;
}
	.showcase-item .showcase-item-box{
		background: #ecf0f1;
		color: #000000;
		padding: 40px;
		width: 100%;
		height: 100%;
	}
footer{
	color: #ecf0f1;
}
footer img{
	width: 30px;
}
.footernav li {
    width: 10%; /* or whatever width you want for items */
    display: inline-block;
    float: none;
    padding: 5px 5px 5px 5px;
}
.navbar .nav {
    float: none;
    text-align: center;
}
.text-centered { text-align:center; }
.no-margin { margin:0; }
.full-width {width: 100%;}
.half-width {width: 50%;}
.bigfont{ font-size: 140%}
.alegreya{ font-family: 'Alegreya Sans',sans-serif;}

@media(max-width: 767px){
	.jumbotron h1{
		font-size: 31px;
	}
	.bigfont{
		font-size: 100%;
	}
	#footer img{
	width: 30px;
	}
	.footernav li {
		float: none;;
		display: inline;
		text-align: center;
	}
	.navbar .nav {
		float: none;
		text-align: center;
	}
}