html{
	height: 100%;
}

body{
	background: #3498db;	
	height: 100%;
}

img{
	max-width: 100%;
}

#beard{
	max-width: 25%;
}

.headdiv{
	background-color: #ecf0f1;
	font-family: "Lobster",cursive;
	color: #3498db;
	margin-top: 0px;
	position: fixed;
	width: 50%;
	display: inline-block;
	float: none;
}

.lobster{
	font-family: "Lobster",cursive;
}

.navbar{
	width: 100%;
	position: fixed;
	vertical-align: middle;
	padding-top: ;
	border-radius: 0;
	font-size: 
}

#home{
	padding-top: 125px;
}

.scroll-panel{
	padding-top: 50px;
}

.jumbotron{
	border-radius: 0 !important; padding: 0 !important;
}

.jumbotron-midnight{
	color: #ecf0f1;
	background: #3498db;
	margin: 0;
}

.jumbotron-silver{
	color: #3498db;
	background: #ecf0f1;
	margin: 0;
	width: 100%;
}
#footer{
	background-color: #282828;
}

#footer img{
	width: 120px;
	padding: 10px 25px 10px 25px;
}

#footer a{
	padding: 10px 25px 10px 25px;
}

#wrap {min-height: 100%;}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

#main {overflow:auto;
	padding-bottom: 150px;}

#footdiv {position: relative;
	margin-top: -150px;
	height: auto;
	clear:both;} 

.showcase-item{
	height: 100px;
	padding: 2px;
}
	.showcase-item .showcase-item-box{
		background: #282828;
		color: #000000;
		padding: 40px;
		width: 100%;
		height: 100%;
	}

.text-centered { text-align:center; }
.no-margin { margin:0; }
.full-width {width: 100%;}
.half-width {width: 50%;}
.bigfont{ font-size: 140%}

@media(max-width: 767px){
	.jumbotron h1{
		font-size: 31px;
	}
	.bigfont{
		font-size: 100%;
	}
	#footer img{
	width: 30px;
	}
}